.search {
  //   &__box {
  //   }
  &__wrapperCard {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 40px;
    justify-content: space-between;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__img {
    border-radius: 6px !important;
  }
  &__content {
    padding-bottom: 10px !important;
  }
  &__name {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: #242424 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold !important;
  }
  &__price {
    color: #ff4d4d;
    font-weight: 700 !important;
    font-size: 18px !important;
  }
  &__btnWrp {
    justify-content: center;
  }
  &__btnCard {
    background-color: var(--primary-color) !important;
    font-size: 14px !important;
    width: 100% !important;
    min-height: 36px !important;
    padding: 5px 24px 7px !important;
    line-height: 20px !important;
    border-radius: 8px !important;
    font-weight: 700 !important;
    text-transform: none !important;
  }
  &__btnMore {
    text-align: center;
    margin: 20px 0;
  }
  &__btnShow {
    font-size: 10px !important;
  }
  &__btnSearch {
    width: fit-content !important;
    margin-bottom: 10px !important;
    & > em {
      margin: 0 10px;
      color: #e7e07a;
    }
  }
}
